<div class="grid grid-cols-2 gap-2  p-4 space-y-3">
  <app-patients class="col-span-2"
  (changedPatients)="onChangedPatients($event)"
  ></app-patients>

  <app-orders class="col-span-2"
  (changedOrders)="onChangedOrders($event)"
              [patients]="patients"
              [doctors]="doctors"
              [rooms]="rooms"
              [visits]="visits"
  ></app-orders>

  <app-doctors
  (changedDoctor)="onChangedDoctors($event)"
  [rooms]="rooms"
  ></app-doctors>

  <app-rooms
  (changedRooms)="onChangedRooms($event)"
  [doctors]="doctors"
  ></app-rooms>

  <app-visits class="col-span-2"
  (changedVisits)="onChangedVisits($event)"
              [doctors]="doctors"
              [rooms]="rooms"
              [patients]="patients"
              [orders]="orders"
  ></app-visits>


</div>
